<h1>New Contact</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'contacts:add_contact' %}" method="post">
{% csrf_token %}
    <p>
        <label for="first_name"><strong>First name:</strong></label><br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="first_name" id="first_name"><br>
        <label for="last_name"><strong>Last name:</strong></label><br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="last_name" id="last_name"><br>
        <label for="email"><strong>Email:</strong></label><br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="email" id="email"><br>
        <label for="phone_number"><strong>Phone number:</strong></label><br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="phone_number" id="phone_number"><br>
        <label for="notes"><strong>Notes:</strong></label><br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="notes" id="notes"><br>
    </p>

    <input type="submit" value="Create Contact">
</form>